<form method="POST" action="" enctype="multipart/form-data">
  <label for="input">User</label>
  <div>
    <textarea id="input" name="input" style="width: 100%"></textarea>
  </div>
  <div>
    <input type="file" name="file" id="file" />
    <button
      type="submit"
      style="flex-shrink: 0; width: 4rem; height: 4rem; padding: 1rem"
    >
      Send
    </button>
  </div>
</form>
<form method="POST" action="/new-chat">
  <button type="submit">New Chat</button>
</form>
</main>
</body>
</html>
